html {
  font-family: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
  background-color: #f1f1f1;
}

body * {
  font-size: 15px;
}

h1,
.sbmit,
button {
  color: #545862;
}

h1 {
  font-weight: 400;
  padding: 1rem;
  margin: 0;
}

#td-box {
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin: 0 auto;
  margin-top: 60px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  position: relative;
  padding-bottom: 1px;
}

#td-header,
#input-line,
.td-item {
  background: #fff;
}

#input-line,
#td-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#icon-arrows-ccw {
  width: 20px;
  cursor: pointer;
}

.drag-line {
  cursor: move;
}

.delete-line {
  opacity: 0.5;
  cursor: pointer;
  padding: 0.3rem;
}

#icon-arrows-ccw,
.drag-line {
  opacity: 0.5;
  padding: 0.2rem 1rem;
}

.enter-icon {
  height: 2rem;
  width: auto;
  margin-right: 1rem;
  opacity: 20%;
  cursor: pointer;
}

.sbmit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url("./images/enter-icon.png");
  background-repeat: no-repeat;
}

.td-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.td-item.dragging {
  opacity: 0.5;
}

.td-item:last-child {
  border-bottom: 0;
}

#inpt {
  width: 100%;
  padding: 0 40px 0 1rem;
  line-height: 50px;
  height: 50px;
  border: none;
  font-style: italic;
}

p {
  margin: 0;
  padding: 15px 0;
  transition: background 0.2s;
  flex: 1;
}

input:checked + p {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}

input[type="checkbox"] {
  margin: 20px;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  margin: 1rem auto;
  display: block;
  cursor: pointer;
}
